<tr>
  <th scope="row">
    <%= link_to session.name, session_path(session), class: "dx-table-default-title" %>
  </th>
  <td><%= session.try(:category).try(:name) %></td>
  <td><%= session.questions.count %></td>
  <td class="dx-table-lastPost">
    <div class="dx-table-default-info">
      <p class="mb-0">presente par <a href="#">ndongoli</a><span class="dib"><%= session.try(:startedAt).to_s(:custom_date) %>,</span> <span class="dib"><%= session.try(:startedAt).strftime("%-l:%M %P") %></span></p>
    </div>
  </td>
</tr>